@font-face {
    font-family: 'Releway Regular';
    src: url('Raleway-Regular.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background-1.jpg');
}

.main__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main__label {
    font-family: 'Releway Regular', sans-serif;
    font-size: 60px;
    color: white;
}

.btn-play-outer {
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.btn-play-outer:hover {
    box-shadow: -1px 0 50px -12px rgba(0, 0, 0, 0.75);
    transition: 1s;
}

.btn-play {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.5em 0 1.5em 3em;
    border-color: transparent transparent transparent #000;
    opacity: .75;
}