<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!--App-->
    <link rel="stylesheet" href="css/app.css">

    <title>Sync For Fun :: App</title>
</head>
<body>

    <!-- Modal -->
    <div class="modal fade" id="joinRoomModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Join Room</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="watcher-name" class="col-form-label">Your name:</label>
                            <input type="text" class="form-control" id="watcher-name">
                        </div>
                        <div class="form-group">
                            <label for="watcher-file">Media file</label>
                            <input type="file" class="form-control-file" id="watcher-file" accept="video/*">
                        </div>
                        <div class="form-group">
                            <label for="room-name" class="col-form-label">Room name:</label>
                            <input type="text" class="form-control" id="room-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="joinRoom">Join</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <!--TODO: Remove dummy video-->
                <video id="videoPlayer" src="rabbit.mp4" controls></video>
            </div>
            <div class="col-md-3 col-sm-12">
                <br />

                <h5 id="roomTitle"></h5>
                <h5 id="roomWatcherName"></h5>
                <h5 id="roomWatcherFile"></h5>

                <br />
                <h6>Lasted events:</h6>
                <ul class="events-list"></ul>
            </div>
        </div>
    </div>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

    <!--Socket IO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <!--<script src="https://code.jquery.com/jquery-1.11.1.js"></script>-->

    <!--App-->
    <script src="js/appController.js"></script>
    <script src="js/webSocketSubjects.js"></script>
    <script src="js/webSocketClient.js"></script>
</body>
</html>