<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--App-->
    <link rel="stylesheet" href={{assetPath 'vendor.css'}}>
    <link rel="stylesheet" href={{assetPath 'app.css'}}>

    <title>Sync For Fun :: App</title>
</head>
<body>

<!-- Modal -->
<div id="modalJoinRoom"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Room</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUserName" class="col-form-label">Your name:</label>
                        <input type="text" class="form-control" id="inputUserName">
                        <div id="blockErrorsUserName" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserFile">Media file</label>
                        <!--TODO: check multi-browser support accept="video/*"-->
                        <input type="file" class="form-control-file" id="inputUserFile">
                        <div id="blockErrorsUserFile" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputRoomName" class="col-form-label">Room name:</label>
                        <input type="text" class="form-control" id="inputRoomName">
                        <div id="blockErrorsRoomName" class="invalid-feedback"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="buttonJoinRoom">Join</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <!--&lt;!&ndash;TODO: Remove dummy video&ndash;&gt;-->
            <!--&lt;!&ndash;src="rabbit.mp4"&ndash;&gt;-->
            <!--<video id="videoPlayer" controls></video>-->
            <video id='my-video' class='video-js' controls preload='auto' width='640' height='264' data-setup='{}'>
                <p class='vjs-no-js'>
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div class="col-md-3 col-sm-12">
            <br/>

            <h5 id="labelRoomName"></h5>
            <h5 id="labelUserName"></h5>
            <h5 id="labelFileName"></h5>

            <br/>
            <h6>Lasted events:</h6>
            <ul class="events-list"></ul>
        </div>
    </div>
</div>

<!--App-->
<script src={{assetPath 'vendor.js'}}></script>
<script src={{assetPath 'app.js'}}></script>
<!--<script src="js/appController.js"></script>-->
<!--<script src="js/webSocketSubjects.js"></script>-->
<!--<script src="js/webSocketClient.js"></script>-->
</body>
</html>