<!DOCTYPE html>
<html>
<head>
    <title>Sync For Fun :: Home</title>
    <link rel="stylesheet" href={{assetPath 'home.css'}}>
</head>
<body>
    <main>
        <a href="app" class="fun_button">Start FUN!</a>
    </main>
</body>
</html>