/* Video JS */

.video-js {
    width: 100%;
    height: 100%;
}

/* Main */

.main {
    height: 100%;
}

/* Room Info */

.room-info {
    padding: 15px;
    border-bottom: 2px solid #3c4046;
}

.room-info__room-name {
    color: #e6e8e7;
}

.room-info__leave-link {

}

.room-info__show-users-button {
    height: 29px;
    background: #010205;
    color: #e6e8e7;
    border: 2px solid #e6e8e7;
    border-radius: 10px;
}

.room-info__show-users-button:focus {
    outline: 0;
}

.users-list {
    width: 50%;
    max-height: 250px;
    position: absolute;
    background: #010205;
    list-style: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    z-index: 1;
}

.users-list__item {
    padding: 8px;
    border-bottom: 2px solid #3c4046;
    color: #e6e8e7;
}

.users-list__item:last-child {
    border-bottom: 0;
}

/* Video Info */

.video-info {
    padding: 1rem;
}

.video-info__file-name {
    color: #e6e8e7;
}

.video-info__file-size {
    color: #e6e8e7;
}

/* Events */

.events {
    height: calc(100% - 120px);
    padding: 15px;
}

.events__lasted-events-label {
    color: #e6e8e7;
}

.events-list {
    height: 100%;
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}

.events-list__item {

}

.events-list__user {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #979998;
}

.events-list__message {
    display: inline-block;
    padding: 5px;
    color: #e6e8e7;
    background-color: #010205;
    border: 2px solid #3c4046;
    border-radius: 10px;
}
